//- Homepage Markup
extend ./layouts/base

block content
    .main-container
        center
        #microphone
        |     
        pre#result.
        |     
        #info
        |     
        #error
          